@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.text-h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.6;
}

.text-h2 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.6;
}

.text-h3 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.6;
}

.text-p {
  font-size: 1rem;
  font-weight: 200;
}

.btn__light, .btn__dark {
  display: inline-block;
  font-size: 1rem;
  padding: 12px 40px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
  margin: 5px;
}

.btn__light {
  background-color: #f7e7b4;
  border: none;
  color: #000;
}

.btn__light:hover {
  background-color: #b8dbd3;
}

.btn__dark {
  background-color: #68c4af;
  color: #000;
}

.btn__dark:hover {
  background-color: #f2f6c3;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

nav {
  background-color: #dfdbda;
}

nav .buttonSearch {
  border: solid 0.1rem #000;
}

.footer {
  background-color: #dfdbda;
  padding: .5rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "redes-sociales" "copy";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 1rem;
}

.footer p {
  font-size: 1rem;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: copy;
}

.footer .iconsRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: redes-sociales;
}

.footer .iconsRedes i {
  color: #000;
}

.hero {
  background-color: #eae9d2;
  padding: 1rem;
}

.hero .heroTitulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem;
}

.main {
  background-color: #e9f9ff;
  padding: 1rem;
}

.main .mainTitulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 720px) {
  .main .paddun {
    padding-left: 8rem;
  }
}

@media screen and (max-width: 480px) {
  .main .paddun {
    padding: .5rem;
  }
}

.ofertas {
  background-color: #b8dbd3;
  padding: 2rem;
  text-align: center;
}

.ofertas h2 {
  padding-bottom: 1rem;
  font-family: 'nunito', sans-serif;
}

.ofertas .cajaOfertas {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.ofertas .ofertaProd {
  font-family: sans-serif;
  width: 30%;
}

.ofertas .ofertaProd .imgOferta {
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

.ofertas .ofertaProd .imgOferta img {
  width: 105%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ofertas .ofertaProd .imgOferta img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.ofertas .ofertaProd .nombreOferta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ofertas .ofertaProd .nombreOferta h3 {
  margin: 0;
}

.ofertas .ofertaProd .nombreOferta h3,
.ofertas .ofertaProd .nombreOferta strong,
.ofertas .ofertaProd .nombreOferta span {
  padding: 5px 15px;
  width: 100%;
}

.ofertas .ofertaProd .añadirCarrito {
  margin-top: 2px;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 15px;
  border: 1px solid black;
  border-radius: 25px;
}

.ofertas .ofertaProd .añadirCarrito:hover {
  color: black;
  background-color: transparent;
  border: 1px solid black;
}

@media screen and (max-width: 720px) {
  .ofertas {
    padding: 1.5rem;
  }
  .ofertas .ofertaProd {
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .ofertas {
    padding: 1rem;
  }
  .ofertas .ofertaProd {
    width: 80%;
  }
}

.productos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.productos .carta {
  width: 25%;
  border: #000 solid .1rem;
}

.productos .producto {
  background-color: #d2e0f2;
}

.productos .producto a {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: #000;
}

.productos .producto a:hover {
  text-decoration: underline;
}

.productos .producto .nombreProducto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.productos .producto .imgProducto {
  overflow: hidden;
}

.productos .producto .imgProducto img {
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.productos .producto .imgProducto img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media screen and (max-width: 720px) {
  .productos .carta {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .productos .carta {
    width: 75%;
  }
}

.frecuentes {
  padding: 2.5rem 5rem;
  background-color: #e9f9ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.frecuentes h1 {
  border: #000 solid .1rem;
  background-color: #eeeeee;
}

.frecuentes section {
  border: #000 solid .1rem;
  background-color: #e8e1ee;
}

.frecuentes section li {
  list-style: none;
}

.frecuentes section li ul {
  padding: .3rem;
}

.frecuentes section li ul h2 {
  font-size: 1.5rem;
}

.frecuentes section li ul p {
  margin: .2rem;
  background-color: #e3cae5;
}

.frecuentes section li ul p a {
  color: #000;
}

@media screen and (max-width: 720px) {
  .frecuentes {
    padding: 1.5rem 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  .frecuentes {
    padding: .5rem 1.25rem;
  }
}

.text-h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.6;
}

.text-h2 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.6;
}

.text-h3 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.6;
}

.text-p {
  font-size: 1rem;
  font-weight: 200;
}

.btn__light, .btn__dark {
  display: inline-block;
  font-size: 1rem;
  padding: 12px 40px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
  margin: 5px;
}

.btn__light {
  background-color: #f7e7b4;
  border: none;
  color: #000;
}

.btn__light:hover {
  background-color: #b8dbd3;
}

.btn__dark {
  background-color: #68c4af;
  color: #000;
}

.btn__dark:hover {
  background-color: #f2f6c3;
  border: none;
}

.contacto {
  background-color: #c9c9ff;
  color: #000000;
}

.contacto__caja {
  padding: 8rem;
  max-width: 1300px;
}

@media (max-width: 768px) {
  .contacto__caja {
    padding: 4rem;
  }
}

@media (max-width: 480px) {
  .contacto__caja {
    padding: .5rem;
  }
}

.contacto__caja .contacto__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

@media (max-width: 768px) {
  .contacto__caja .contacto__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 50px 0;
  }
}

@media (max-width: 480px) {
  .contacto__caja .contacto__row {
    padding: 0;
  }
}

.contacto__caja .contacto__row-text {
  width: 60%;
  padding-right: 40px;
  padding-top: 90px;
}

@media (max-width: 768px) {
  .contacto__caja .contacto__row-text {
    padding-right: 0;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .contacto__caja .contacto__row-text {
    width: 100%;
  }
}

.contacto__caja .contacto__row-text a {
  margin-top: 30px;
}

.contacto__caja .contacto__row-form {
  width: 40%;
  margin-left: 90px;
}

@media (max-width: 768px) {
  .contacto__caja .contacto__row-form {
    margin-left: 0;
    margin-top: 40px;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .contacto__caja .contacto__row-form {
    width: 100%;
  }
}

.contacto__caja .contacto__row-form .form-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-size: 2rem;
  padding: 70px;
  background-image: -webkit-gradient(linear, left top, right top, from(#b8dbd3), to(#f2f6c3));
  background-image: linear-gradient(to right, #b8dbd3, #f2f6c3);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.contacto__caja .contacto__row-form .form-logo p {
  font-weight: 600;
}

.contacto__caja .contacto__row-form form {
  background-color: #f2f2f2;
  padding: 50px 50px 70px 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

form label {
  display: inline-block;
  margin-bottom: 6px;
  color: #000;
}

form .form-group {
  margin-bottom: 10px;
}

form .form-control {
  width: 100%;
  padding: 10px 12px;
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #eeeeee;
}

form a {
  width: 100%;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */