.hero {
    background-color: #eae9d2;
    padding: 1rem;

    .heroTitulos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: .5rem;
    }

}