.main {
    background-color: #e9f9ff;
    padding: 1rem;

    .mainTitulos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen AND(max-width:720px){

   .main{ 
       .paddun{
            padding-left: 8rem;
       }
    }
}
@media screen AND(max-width:480px){

    .main{ 
        .paddun{
            padding: .5rem;
        }
        
    }
}