@import "../base/variables";
@import "../utilities/mixins";

.heroTitulos {
    width: 100%;
    padding: .5rem;
    background-image: linear-gradient(to bottom, $fondoColor2, $fondoColor3);

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

.hero {
    background-color: $fondoColor4;
    padding: 1rem;
}