@import "../base/variables";

.frecuentesTitulos {
    background-image: linear-gradient(to bottom, $fondoColor2, $fondoColor3);
    width: 100%;
    border-bottom: #000 solid .2rem;
    padding: 1rem;
    margin: 0;

    h1 {
        text-align: center;
        font-size: 2rem;

    }
}

.frecuentes {
    padding: 1.5rem 5rem;
    min-height: 80vh;
    background-color: $fondoColor4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    div {
        border: #000 solid .1rem;
        background-color: $fondoColor4;

        li {
            list-style: none;

            ul {
                padding: .3rem;

                h2 {
                    font-size: 1.5rem;
                }

                p {
                    margin: .2rem;
                    background-color: $fondoColor5;

                    a {
                        color: #000;
                    }
                }

            }
        }
    }
}

@media screen AND(max-width:720px) {
    .frecuentes {
        padding: 1.5rem 2.5rem;
    }
}

@media screen AND(max-width:480px) {
    .frecuentes {
        padding: .5rem 1.25rem;
    }
}