.mainTitulos {
    background-image: linear-gradient(to bottom, $fondoColor2, $fondoColor3);
    padding: 1rem;
    width: 100%;

    h2 {
        text-align: center;
    }
}

.main {
    background-color: $fondoColor4;
    padding: 1rem;

    .fondoCard{
        background-color: $fondoColor3;

        .fondoButtom{
            background-color: $fondoColor2;
            color: #000;

            &:hover{
                background-color: transparent;
            }
        }
    }
}
