
.tituloOfertas{
    h2 {
        text-align: center;
        padding: 1rem;
        margin: 0;
        font-family: 'nunito', sans-serif;
        width: 100%;
        background-color: #cfeef2;
    }
}

.ofertas {
    background-color: #b8dbd3;
    padding: 2rem;
    text-align: center;

    

    .cajaOfertas {

        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .ofertaProd {
        font-family: sans-serif;
        width: 30%;

        .imgOferta {
            overflow: hidden;
            position: relative;
            border-radius: 15px;

            img {
                width: 105%;
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.2);
                }
            }

            
        }

        .nombreOferta {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;

            h3 {
                margin: 0;
            }

            h3,
            strong,
            span {
                padding: 5px 15px;
                width: 100%;
            }
        }

        .añadirCarrito {
            margin-top: 2px;
            text-decoration: none;
            color: white;
            background-color: black;
            padding: 15px;
            border: 1px solid black;
            border-radius: 25px;

            &:hover {
                color: black;
                background-color: transparent;
                border: 1px solid black;
            }
        }
    }
}


@media screen AND(max-width:720px){
    .ofertas{
        padding: 1.5rem;

        .ofertaProd{
            width: 45%;
        }
    }
    
}

@media screen AND(max-width:480px){
    .ofertas{
        padding: 1rem;

        .ofertaProd{
            width: 80%;
        }
    }
}